*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
	height: 100%;
	width: 100%;
	min-height: 100vh;
    background-size: cover;
	position: relative;
	position: fixed;
	top: -160px;
	left: 0;
	width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: 0;
	padding: 0;
}

.hero header .logo h2 a{
	display: block;
	font-size: 32px;
	font-weight: 600;
	text-decoration: none;
	color: rgb(0, 0, 0);
}

.hero header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 30px;
}

nav ul li{
	list-style: none;
	display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	margin-left: 120px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: .4s;    
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
	border-bottom: 2px solid white;
}

nav ul li.active a{
	border-bottom: 2px solid rgb(0, 0, 0);
}

.btn a {
    display: inline-block;
    background-color: #da2b4bd5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;    
}

nav ul li.btn:hover a{
	border: 1px solid white;
	color: black;
	background: white;
	transition: .5s;
}

body {
    margin: 0;
    background-color: rgba(221,221,221,255);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image {
    position: absolute;
    width: 100%;
    height: 55%;
    bottom: -170px;
    right: 0;
    text-align: right;
    z-index: -1;
}

.image img {
    height: 100%;
}

.sketchfab-embed-wrapper {
    width: 80%;
    max-width: 800px;
    height: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 300px;
}

iframe {
    width: 92%;
    height: 200%;
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero header {
    animation: fadeIn 1.5s ease-in-out;
}

.container {
    padding-top: 100px;
    animation: fadeIn 1.8s ease-in-out;
}

.image {
    padding-top: -10px;
    animation: fadeIn 1.2s ease-in-out;
    opacity: 1;
}

.sketchfab-embed-wrapper {
    padding-top: -10px;
    animation: fadeIn 2s ease-in-out;
    opacity: 1;
}